@using StatiiElectriceWebApp.Models.DB
@model Statii


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Detalii</h1>

<div class="row justify-content-center">
    <h4>Statie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
    </dl>

    <table class="table table-responsive">
        <tr>
            <th style="border-bottom:none">
                Tip prize
            </th>
        </tr>
        @foreach (Prize item in Model.Prizes) {
        <tr>
            <td>@item.Tip.Id</td>
            <td>@item.Tip.Nume</td>
            <td><a asp-controller="Prize" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sterge Priza</a></td>
            <td><a asp-controller="Rezervari" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary">Booking</a></td>
            <td><a asp-controller="Disponibilitate" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success" >Calendar</a></td>
        </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-controller="Prize" asp-action="AddToStation" asp-route-id="@Model.Id" class="btn btn-success">Adaugare Priza</a> |
    <a asp-action="GetStatii" class="btn btn-primary">Inapoi la lista de statii</a>
</div>
