@using StatiiElectriceWebApp.Models.DB
@model IEnumerable<Statii>




@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table align-middle">
    <tr>
        <td style="left:0">
            <a asp-action="Create" class="btn btn-success">Adauga Statie</a>
        </td>
        <td style="right:9%; position:absolute; border-bottom:none">
            <form asp-action="Filter" method="post" style="border-bottom:none">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </td>
    </tr>
</table>
<div>
    <table class="table align-middle">
        <thead>
            <tr>
                <th>
                    Nume
                </th>
                <th>
                    Oras
                </th>
                <th>
                    Adresa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" method="get">Editeaza </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" type="button">Detalii </a> |
                    
                    
                         <input type="submit" value="Sterge" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>