@using StatiiElectriceWebApp.Models.DB
@model IEnumerable<Statii>




@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-action="Create">Adauga Statie</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nume
                </th>
                <th>
                    Oras
                </th>
                <th>
                    Adresa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                    
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <div>
                            <input type="submit" value="Sterge" />
                         </div>
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>